.container{
    width: auto;
    max-width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.container .card{
    width: 275px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: ease 0.5s;
    float: left;
}

.container .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 320px;
    height: 330px;
}

.container .card h4{
    font-size: 14pt;
}
.container .card p{
    color: black;
    padding: 0 2rem;
    font-size: 12pt;
}
